.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-size: cover;
  background-repeat: no-repeat;
  right: -210px;
  top: 0;
  background-image: url(../../../image/kaufman-triangle.svg);
  z-index: 1;
}
