.feynman{
  min-height: 890px;
  background-image: url(../../image/feynman.png);
  background-color:  #f2f2f2;
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
