.feynman__link{
  position:absolute;
  right: 48px;
  top:50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:  #2f80ed;
  text-decoration: none;
  transition-duration: 1s;
}

.feynman__link:hover{
  opacity: 0.5;
}
