.khan__buy-link{
  position:relative;
  left: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:  #2f80ed;
  text-decoration: none;
  text-decoration: 1s;
  margin-right: 390px;
}

.khan__buy-link:hover{
  opacity: 0.5;
}

