.header__square-pic {
  position: absolute;
  align-self: flex-end;
  width: 568px;
  height: 568px;
  background: #2f80ed;
  right: 0;
  top: 64px;
  z-index: 1;
  transition-property: transform;
  transition-duration: 20s;
  transition-timing-function: ease;
}
.header__square-pic:hover{
transform: rotate(360deg);
animation-timing-function: initial;
}
