.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  .header {
   height: 100vh;
   min-height: 32px;
   max-height: 756px;
   background-size: cover; 
   background-color:#f2f2f2 ;
   border-width: 1px;
  border-style: solid;
  border-color: Red;

    /* выше установили ограничения для секции */
  }
  
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
  }
  
  /* и элемента с модификатором вида ключ-значение */
  .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }
  /* Начало моей работы*/
  /* блок header*/
  
  .Page{
    font-family: 'Helvetica Neue','Arial', 'sans-serif';
  }
  
  
  .header_logo_place_header{
  position: absolute;  
   display: flex;
   padding-top: 30px;
   padding-left: 64px;
   

  
  }
  .header_title{
    display: flex;
    position: absolute;
    padding-top: 200px;
    padding-left: 64px;
    width: 730px;
    height: 96px;
    font-size: 102px;
    
    
    
  }
  .header_subtitle{

      position: relative;
      left: 64px; 
      top: 650px;
     
      width: 388px;
      height: 25px;
      font-size: 18px;
      font-style: normal;

  }
  /*.header_link{
   
  }*/
  .header_main-illustration{
    position: absolute;
    display: flex;
    width: 765px;
    height: 608px;
    padding-top: 90px;
    padding-left: 835px;
  }
  .header__square-pic{
      display: flex;
      position: absolute;
      justify-content: flex-end;
    width: 568px;
    height: 568px;
    background-color: darkblue;
    margin-top: 64px;
  }