.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  /*----------------------------header --------------------------------------- */
  .header {
  height: 100vh;
  min-height: 32px;
  max-height: 756px;
  background-size: cover;
  background-color:#f2f2f2 ;
  border-color: Red;

    /* выше установили ограничения для секции */
  }
  
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
  .header__square-pic {
    height: 568px;
    width: 568px;
  }
  
  /* и элемента с модификатором вида ключ-значение */
  .table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
  }
  /* Начало моей работы*/
  /* блок header*/
  
  .Page{
    font-family: 'Helvetica Neue','Arial', 'sans-serif';
  }
  
  
  .header_logo_place_header{
   position: absolute;  
   padding-top: 30px;
   padding-left: 64px;
   

  
  }
  .header_title{
    display: flex;
    position: absolute;
    padding-top: 200px;
    padding-left: 64px;
    width: 730px;
    height: 96px;
    font-size: 102px;
  }
  .header_subtitle{
    position: relative;
    left: 64px; 
    top: 650px;
   
    width: 388px;
    height: 25px;
    font-size: 18px;
    font-style: normal;
    
     

  }
  /*.header_link{
   
  }*/
  .header_main-illustration{
    position: absolute;
    display: flex;
    width: 765px;
    height: 608px;
    padding-top: 105px;
    padding-left: 835px;
    z-index: 1;
  }
  .header__square-pic{
    display: flex;
      position: absolute;
      justify-content: flex-end;
      width: 568px;
      height: 568px;
      background-color: #2f80ed;
      margin-top: 90px;
      right: 125px;
  }
 /*----------------------------header --------------------------------------- */
 /*----------------------------description --------------------------------------- */
 

 .content{

height: 100vh;
    
 }
 .description{

display:flex;
margin-top: 100px;
margin-bottom: 100px;
margin-left: auto;
margin-right: auto

     
 }
 /* Главные проблемы в обучении*/
 .two-columns{
   display: flex;
  justify-content: space-between;
  
  
 
}

.two-column_brief{
  
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  padding-top:30px
  
  
}
.two-columns_main-text{

   margin-left: 100px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-column_paragraph{

  width: 80%;
  min-width: 784px;
}
.two-column_span-accent
{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
 
  
}
 /*----------------------------description --------------------------------------- */
.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: auto;
  padding-right: auto;
 
  display:flex;
 
}


.section-title{
  
 line-height: 1.15;
 font-size: 60px;
 font-weight: bold;

 margin-top: 100px;
 margin-bottom: 20px;
 width: 60%;
 text-align: center;
 
 
  
}


.section-subtitle{
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
  
  
}


.table{
  display: flex;
  flex-flow: row wrap;
  width: 1100px;;
  margin-left: auto;
  margin-right: auto;
 


}


.table_cell{
  
  
 
  width: 250px;
  margin-right: 20px;
  margin-bottom: 60px;
  
 
}


.table_heading{
  padding-top:60px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  width: 250px;
}
.table_text{
  
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

 /*----------------------------description --------------------------------------- */
 /*----------------------------feynman --------------------------------------- */
 .feynman{
  border:1px solid red;
  background-color: #f2f2f2;
 }
.feynman_title{
  
  margin: 0 auto;
  position:static;
  width: 648px;
  padding-top: 100px;
  line-height:1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  border:1px solid red;
}
.feynman_subtitle{
line-height: 51px;
font-size: 36px;
font-weight: normal;
}
.feynman_link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
 
}
.feynman_img{
  width: 867px;
  height: 637px;
}
 /*----------------------------feynman --------------------------------------- */
  /*----------------------------kaufman --------------------------------------- */
 
 /*----------------------------kaufman --------------------------------------- */
 /*----------------------------footer --------------------------------------- */
 
 /*----------------------------footer --------------------------------------- */